<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>false</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>eyskens.onmicrosoft.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>True</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://transparent-auth-bot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>transparent-auth-bot.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>transparent-auth-bot</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$transparent-auth-bot</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AuthenticationEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=kbva1gnaex.database.windows.net;Initial Catalog=twitter;User ID=twitter;Password=@SQL1234Eys;Application Name=EntityFramework" Name="Data Source=kbva1gnaex.database.windows.net;Initial Catalog=twitter;User ID=twitter;Password=@SQL1234Eys;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="transparent_auth_bot.AuthenticationEntities, transparent-auth-bot" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=kbva1gnaex.database.windows.net;Initial Catalog=twitter;User ID=twitter;Password=@SQL1234Eys;Application Name=EntityFramework" Name="Data Source=kbva1gnaex.database.windows.net;Initial Catalog=twitter;User ID=twitter;Password=@SQL1234Eys;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="transparent_auth_bot.Models.ApplicationDbContext, transparent-auth-bot" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuthenticationEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/AuthenticationDB.csdl|res://*/AuthenticationDB.ssdl|res://*/AuthenticationDB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=kbva1gnaex.database.windows.net;Initial Catalog=twitter;User ID=twitter;Password=@SQL1234Eys;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=kbva1gnaex.database.windows.net;Initial Catalog=twitter;User ID=twitter;Password=@SQL1234Eys;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>